:root {
    --bg-color: #242d3c;
    --bg-light: hsl(217, 25%, 25%);
    --main-color: #e46e35;
    --main-color-25: rgb(228, 110, 53, 0.25);
    --main-color-50: rgb(228, 110, 53, 0.5);
    --white: rgb(235, 235, 235);
}

body {
    background-color: var(--bg-color);
}

.logo {
    width: 50vw;
    max-width: 300px;
    margin: 20px auto;
}

.logo img {
    width: 100%;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border: 1px solid var(--main-color-50);
    border-radius: 0.25rem;
}

.checkbox:hover {
    cursor: pointer;
    box-shadow: 0 0 5px var(--main-color-50);
}

.checkbox-icon {
    font-size: 15px;
    color: transparent;
}

.checkbox-icon:hover {
    color: var(--bg-color);
}

.checked {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.checked-icon {
    color: var(--bg-color);
}

.search-input {
    border-color: var(--main-color);
    background-color: var(--main-color-25);
    color: var(--main-color);
}

.search-input:focus {
    box-shadow: 0 0 0 0.25rem var(--main-color-25);
    border-color: var(--main-color);
    background-color: transparent;
    color: var(--main-color);
}

.search-input::placeholder {
    color: var(--main-color-50);
}

.todo-item {
    color: var(--white);
    background-color: var(--bg-light);
    margin-bottom: 10px;
}

.todo-item:hover {
    background-color: var(--white);
    color: var(--bg-color);
}

.todo-item-completed {
    text-decoration: line-through var(--white);
}

.todo-item:hover .todo-item-completed {
    text-decoration: line-through var(--bg-color);
}

.delete-todo-btn {
    color: var(--white);
    background-color: transparent;
    border: none;
}

.todo-item:hover .delete-todo-btn {
    color: var(--bg-color);
}

.main-color-text {
    color: var(--main-color);
}

.fs-10 {
    font-size: 0.9rem;
}

.add-todo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    font-size: 35px;
    transition: transform 0.2s ease-in-out;
}

.add-todo:focus {
    color: var(--main-color);
    border-color: transparent;
    line-height: 1;
}

.add-todo:hover {
    color: var(--white);
    border-color: transparent;
}

.add-todo i::before {
    line-height: unset;
}

.add-todo-transition {
    transform: rotate(135deg);
}

.modal-container {
    display: block;
    z-index: 1;
    background-color: #00000099;
    color: var(--white);
}

.modal-form {
    background-color: var(--bg-color);
}

.modal-form .modal-header,
.modal-form .modal-footer {
    border: none;
    color: var(--main-color);
}

.modal-input {
    border: 1px solid var(--main-color);
    background-color: var(--bg-light);
    color: var(--main-color);
    min-height: 100px !important;
    max-height: 40vh;
}

.modal-input:focus {
    box-shadow: 0 0 0 0.25rem var(--main-color-25);
    background-color: var(--bg-color);
    color: var(--main-color);
    border-color: var(--main-color);
}

.modal-input-label {
    font-size: 5px;
}

.btn-cancel,
.btn-cancel:active,
.btn-cancel:focus {
    background-color: var(--bg-color);
    border-color: var(--main-color);
    color: var(--main-color);
    box-shadow: none;
}

.btn-add,
.btn-add:active,
.btn-add:focus {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: none;
}

.btn-cancel:hover {
    background-color: var(--bg-light);
    border-color: var(--main-color);
    color: var(--white);
    box-shadow: 0 0 5px var(--main-color-50);
}

.btn-add:hover {
    background-color: var(--main-color-50);
    border-color: var(--main-color);
    color: var(--white);
    box-shadow: 0 0 5px var(--main-color-50);
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100px;
}

.loading-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    animation: loading-dot 2s ease-in-out infinite;
}

.loading-dot:nth-child(2) {
    animation-delay: 0.2s;
}

.loading-dot:nth-child(3) {
    animation-delay: 0.4s;
}

.msg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
    color: var(--main-color-50);
}

.msg-img {
    font-size: 5rem;
    color: var(--main-color-50);
}

.msg-container span:hover {
    cursor: pointer;
}

@keyframes loading-dot {
    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0);
        opacity: 0;
    }
}
