body {
    background-color: rgba(42, 138, 234, 0.175);
}

.transparent {
    background-color: transparent;
}

.bg-blue {
    border-color: #084298;
    background-color: #bacbe6;
}

.bg-blue:focus {
    border-color: #084298;
    background-color: transparent;
}

.text-blue {
    color: #084298;
}

.fs-10 {
    font-size: 0.9rem;
}

.add-todo {
    font-size: 35px;
}

.add-todo:focus {
    color: #084298;
    border-color: transparent;
}

.add-todo:hover {
    color: rgb(68, 116, 187);
    border-color: transparent;
}
